{% load static %} {% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons (Icons) -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <!-- Bootstrap CSS (Loaded from django-bootstrap5) -->
    {% bootstrap_css %}

    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'league_management/styles.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'league_management/mediaquery.css' %}"
    />

    <title>{% block title %}VSL{% endblock title %}</title>
  </head>
  <body>
    {% block content %} {%endblock content %}

    <!-- Static JavaScript -->
    <script src="{% static 'base/script.js' %}"></script>

    <!-- Bootstrap JS (Loaded from django-bootstrap5) -->
    {% bootstrap_javascript %}
  </body>
</html>
