{% extends 'main.html' %} {% load static %} {% block title %} VSL-News
{%endblock %} {% block content %}
<div class="container mt-5">
  <h2 class="text-center">Latest News</h2>
  <div class="row mt-4">
    {% for article in news_articles %}
    <div class="col-md-4">
      <div class="card mb-4">
        {% if article.image %}
        <img
          src="{{ article.image.url }}"
          class="card-img-top"
          alt="{{ article.title }}"
        />
        {% endif %}
        <div class="card-body">
          <a href="{% url 'news_detail' article.id %}"
            ><h5 class="card-title">{{ article.title }}</h5></a
          >
          <p class="card-text">{{ article.content|truncatewords:20 }}</p>
          <p class="text-muted">
            <small>Published on {{ article.created_at|date:"M d, Y" }}</small>
          </p>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center">No news articles available.</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
